@model IEnumerable<string>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>


<table class="table">
    <thead>
        <tr>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Spotify/Index?genre=@item">@item</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
